@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,900');


body { 
  background-image: url('../assets/indexImg.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;

}

div, body{
margin: 0;
padding: 0;
font-family: exo;

}
.wrapper {
height: 100%; 
width: 100%; 
}

.message {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 100%; 
height:75%;
bottom: 0; 
display: block;
position: absolute;
background-color: rgba(0,0,0,0.6);
padding: 0.5em;
}



#css-dropdown
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 80vw;
    height: 42px;
    margin: 100px auto 0 auto;
}
.form-control{
  background-color: #f9f9f9;
}


.form-control:focus {
  border-color: #b7b7b7!important;
  box-shadow: none!important;
  background-color: #f9f9f9;
}

