<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/choices.js/9.1.0/choices.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/openpgp@5.9.0/dist/openpgp.min.js"></script>

<script src="{% include mainurl.html %}/js/script.js" async defer></script>
<script src="{% include mainurl.html %}/js/main.js" async defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- babel is required in order to parse JSX -->

<script src="https://unpkg.com/react@16.14.0/umd/react.development.js"></script>
<!-- import react.js -->

<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"> </script>
<!-- import react-dom.js -->

<!-- <script type="text/babel" src="{% include mainurl.html %}/js/projects.js"></script> -->
<!-- import your JS and add - type="text/babel" - otherwise babel wont parse it -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.1.1/marked.min.js" integrity="sha512-+mCmSlBpa1bF0npQzdpxFWIyJaFbVdEcuyET6FtmHmlXIacQjN/vQs1paCsMlVHHZ2ltD2VTHy3fLFhXQu0AMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>


<!-- <script type="text/babel" src="{% include mainurl.html %}/js/projects-nav.js"></script> -->


<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>


<script type="text/babel" src="{% include mainurl.html %}/js/main.js"></script>

<div class="container-fluid">

  <p class="fw-bold text-light fs-2 lh-1 pt-3 mb-0">{{ site.name }}</p>
  <p class="fw-bold text-light fs-6 lh-1 pt-0 mb-0">{{ site.title }}</p>
  <p class="fw-lighter lh-1 fst-italic text-light" style="font-size: 11px;">{{ site.strap }}</p>


    <footer class="col-12">

      <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid p-0">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-light ps-0" aria-current="page" href="/terms-and-conditions.html">Terms & Conditions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-2" aria-current="page" href="/privacy-policy.html">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>      

      <div class="text-sm-center text-md-start text-lg-start text-xl-start text-start">
        <span class="text-light fs-6 fw-lighter" id="footer-text">
          <svg xmlns="http://www.w3.org/2000/svg" style="margin-top:-3px;" width="12" height="12" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
          </svg> {{ site.site_incorp }} <a class="text-decoration-none text-light" id="footer-link" href="{% include mainurl.html %}/">{{ site.name }}</a>. All rights reserved.
        </span>

        {% include _legals/disclaimer.html %}

      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>