<section>
    <div class="row d-flex justify-content-center mt-100 mt-4">

<div className="text-center">
    <div id="booking_component"></div>

    <form class="col-md-12 row g-3 needs-validation" id="booking" action="https://api.web3forms.com/submit" method="POST">

        <input type="hidden" name="access_key" value="b0d20c07-f3f1-4997-910b-cc3171d8b9db">
        <input type="hidden" name="subject" value="A new booking from {{ site.name }}">
          <input type="checkbox" name="botcheck" id="" style="display: none;" >
          <input type="hidden" name="from_name" value="{{ site.name }}">
          <input type="hidden" name="redirect" value='http://127.0.0.1:4000/thanks'>

        <div class="input-group mb-2">
            <label class="form-label col-12" for="enterName">Enter your name</label>
            <select id="prefix-choice" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" name="Title" width="20" style="width: auto;" required>
                <option value='Mr.'>Mr.</option>
                <option value='Miss.'>Miss.</option>
                <option value='Ms.'>Ms.</option>
            </select>
            
            <input type="text" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="enterName" placeholder="John Smythe" name="Name" style="width: 75%;" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter your name.
            </div>
        </div>
   

        <div class="col-md-6 pb-2">
            <label for="enterEmail">Email address</label>
            <input type="email" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="enterEmail" placeholder="name@example.com" name="Email Address" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter your email address.
            </div>
        </div>             
        <div class="col-md-6 pb-3">
            <label for="enterEmailConfirm">Confirm Email address</label>
            <input type="email" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="enterEmailConfirm" placeholder="name@example.com" name="Email Address" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter your email address.
            </div>
        </div>    
        
        <div class="col-md-6 pb-2">
            <label for="enterTelephone">Telephone Number</label>
            <input type="tel" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="enterTelephone" placeholder="07970 000 000" name="Phone Number" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter your Telephone/Mobile Number.
            </div>
        </div>             
        <div class="col-md-6 pb-3">
            <label for="enterTelephoneConfirm">Confirm Telephone Number</label>
            <input type="tel" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="enterTelephoneConfirm" placeholder="07970 000 000" name="Phone Number" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter your email address.
            </div>
        </div>


        
        <div class="col-12 mt-1">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="inputAddress" placeholder="1234 Main St" name="Address" required>
        </div>

        <div class="col-md-6">
            <label for="inputTown">Town</label>
            <input type="text" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" placeholder="Greenwich" id="inputTown" name="Town" required>
        </div>

        <div class="col-md-4">
            <label for="inputState">County</label>
            <select id="inputState" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" name="County" required>
                <option selected>Choose County</option>
                <optgroup label="England">
                    <option>Bedfordshire</option>
                    <option>Berkshire</option>
                    <option>Bristol</option>
                    <option>Buckinghamshire</option>
                    <option>Cambridgeshire</option>
                    <option>Cheshire</option>
                    <option>City of London</option>
                    <option>Cornwall</option>
                    <option>Cumbria</option>
                    <option>Derbyshire</option>
                    <option>Devon</option>
                    <option>Dorset</option>
                    <option>Durham</option>
                    <option>East Riding of Yorkshire</option>
                    <option>East Sussex</option>
                    <option>Essex</option>
                    <option>Gloucestershire</option>
                    <option>Greater London</option>
                    <option>Greater Manchester</option>
                    <option>Hampshire</option>
                    <option>Herefordshire</option>
                    <option>Hertfordshire</option>
                    <option>Isle of Wight</option>
                    <option>Kent</option>
                    <option>Lancashire</option>
                    <option>Leicestershire</option>
                    <option>Lincolnshire</option>
                    <option>Merseyside</option>
                    <option>Norfolk</option>
                    <option>North Yorkshire</option>
                    <option>Northamptonshire</option>
                    <option>Northumberland</option>
                    <option>Nottinghamshire</option>
                    <option>Oxfordshire</option>
                    <option>Rutland</option>
                    <option>Shropshire</option>
                    <option>Somerset</option>
                    <option>South Yorkshire</option>
                    <option>Staffordshire</option>
                    <option>Suffolk</option>
                    <option>Surrey</option>
                    <option>Tyne and Wear</option>
                    <option>Warwickshire</option>
                    <option>West Midlands</option>
                    <option>West Sussex</option>
                    <option>West Yorkshire</option>
                    <option>Wiltshire</option>
                    <option>Worcestershire</option>
                </optgroup>
                <optgroup label="Wales">
                    <option>Anglesey</option>
                    <option>Brecknockshire</option>
                    <option>Caernarfonshire</option>
                    <option>Carmarthenshire</option>
                    <option>Cardiganshire</option>
                    <option>Denbighshire</option>
                    <option>Flintshire</option>
                    <option>Glamorgan</option>
                    <option>Merioneth</option>
                    <option>Monmouthshire</option>
                    <option>Montgomeryshire</option>
                    <option>Pembrokeshire</option>
                    <option>Radnorshire</option>
                </optgroup>
                <optgroup label="Scotland">
                    <option>Aberdeenshire</option>
                    <option>Angus</option>
                    <option>Argyllshire</option>
                    <option>Ayrshire</option>
                    <option>Banffshire</option>
                    <option>Berwickshire</option>
                    <option>Buteshire</option>
                    <option>Cromartyshire</option>
                    <option>Caithness</option>
                    <option>Clackmannanshire</option>
                    <option>Dumfriesshire</option>
                    <option>Dunbartonshire</option>
                    <option>East Lothian</option>
                    <option>Fife</option>
                    <option>Inverness-shire</option>
                    <option>Kincardineshire</option>
                    <option>Kinross</option>
                    <option>Kirkcudbrightshire</option>
                    <option>Lanarkshire</option>
                    <option>Midlothian</option>
                    <option>Morayshire</option>
                    <option>Nairnshire</option>
                    <option>Orkney</option>
                    <option>Peeblesshire</option>
                    <option>Perthshire</option>
                    <option>Renfrewshire</option>
                    <option>Ross-shire</option>
                    <option>Roxburghshire</option>
                    <option>Selkirkshire</option>
                    <option>Shetland</option>
                    <option>Stirlingshire</option>
                    <option>Sutherland</option>
                    <option>West Lothian</option>
                    <option>Wigtownshire</option>
                </optgroup>
                <optgroup label="Northern Ireland">
                    <option>Antrim</option>
                    <option>Armagh</option>
                    <option>Down</option>
                    <option>Fermanagh</option>
                    <option>Londonderry</option>
                    <option>Tyrone</option>
                </optgroup>
            </select>
        </div>

        <div class="col-md-2">
            <label for="inputZip">Postcode</label>
            <input type="text" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" name="Postcode" id="inputZip" required>
        </div>

        <div class="col-md-6">
            <label for="book-start-date">Book start date</label>
            <input type="date" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="book-start-date" name="Booking Start Date" required>
        </div>

        <div class="col-md-6">
            <label for="book-end-date">Book end date</label>
            <input type="date" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="book-end-date" name="Booking End Date" required>
        </div>

        <div class="col-md-6 pb-4">
            <label for="book-start-time">Book start time:</label>
            <select id="book-start-time" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" name="Booking Start Time" required>
                <option selected>Choose start time</option>
                <option value=12>12:00</option>
                <option value=13>13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
                <option value="00">00:00</option>
                <option value="1">01:00</option>
                <option value="2">02:00</option>
                <option value="3">03:00</option>
                <option value="4">04:00</option>
            </select>
        </div>

        
        <div class="col-md-6 pb-4">
            <label for="book-end-time">Book end time:</label>
            <select id="book-end-time" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" name="Booking End Time" required>
                <option selected>Choose end time</option>
                <option value=12>12:00</option>
                <option value=13>13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
                <option value="00">00:00</option>
                <option value="1">01:00</option>
                <option value="2">02:00</option>
                <option value="3">03:00</option>
                <option value="4">04:00</option>                     
            </select>
        </div>

        </div>

        <div class="col-md-12 pb-4">
            <label for="book-location">Booking location incl. postcode (for in-person services):</label>
            <input type="text" class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="book-location" name="Booking Location">
        </div>

    
        <div class="form-group pb-4" id="servicesSelection"> 
            <label for="choices-multiple-remove-button">Select a service(s)</label>
            <select id="choices-multiple-remove-button" placeholder="Select a service(s)" class="services-input pb-0 mb-0" name="serviceselect" multiple required>
                <!-- <option name="placeHolder" selected disabled>Choose a service</option> -->
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[0] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[1] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[2] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[3] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[4] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[5] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[6] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[7] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[8] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[9] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[10] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.hour_rate }}'>{{ site.services[11] }} @ £{{ site.hour_rate }}</option>
                <option class="amount" value='{{ site.location_intimates_price }}'>{{ site.location_intimates_service }} @ £{{ site.location_intimates_price }}</option>
                <option class="amount" value='{{ site.mail_order_intimates_price }}'>{{ site.mail_order_intimates_service }} @ £{{ site.mail_order_intimates_price }}</option>
                <option class="amount" value='{{ site.findom_price }}'>{{ site.findom_service }} @ £{{ site.findom_price }}*</option>
                <option class="amount" value='{{ site.debt_contract_price }}'>{{ site.debt_contract_service }} @ £{{ site.debt_contract_price }}*</option>

                
            </select>
            <span class="fs-3 align-middle">*</span> Includes £500.00 fee
        </div>

        <div class="pb-4">
            <label for="chosen-services">Chosen Services</label>
            <div class="container-fluid">
            <div id="chosen-services" class="row row-cols-auto"></div>
            </div>

        </div>   

        <div class="input-group input-group-lg mb-3">
            <span class="input-group-text rounded-0">£</span>
            <input id="Total" type="text" class="total form-control form-control-lg rounded-0 focus-ring focus-ring-light" aria-label="Amount" name="Services Total" readonly>
            <span class="input-group-text rounded-0">.00</span>
        </div>

        <div class="d-grid gap-2 pt-4 mb-4">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="invalidCheck" name="Agreed to T&C's switched" data-bs-toggle="modal" data-bs-target="#tandcModal"required>
            

                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before booking.
                </div>
            </div>
        </div>

        <div class="input-group pt-4 pb-4 mb-4">
            <span class="input-group-text rounded-0 text-start">Additional<br>information</span>
            <textarea class="form-control form-control-lg rounded-0 focus-ring focus-ring-light" aria-label="Additional information"></textarea>
        </div>

        <!-- Modal -->
<div class="modal fade" id="tandcModal" tabindex="-1" aria-labelledby="tandcModalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        
            {% include _legals/terms-and-conditions.html %}        

 <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
    </div>

        </div>
      </div>
    </div>
  </div>

        <div class="h-captcha" data-captcha="true"></div>

        <div class="d-grid gap-2 pt-4 mb-4">
            <button class="btn btn-primary btn-lg rounded-0 disabled" type="submit" id="encrypt-button">
                 Confirm booking
            </button>
        </div>

          <p class="text-base text-center text-gray-400" id="result"></p>
    </form>

    <script src="https://web3forms.com/client/script.js" async defer></script>
</div>

</div>
</section>