{% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}

        <div class="container-fluid mt-4 pt-4">
            <div class="row mt-4 p-md-4 message">
                
                <div class="page-content card rounded-0 mt-4 p-md-4 shadow" >
                    <h1 class="display-3 text-dark">Book a service with {{ site.name }}</h1>
                    <p class="fs-3 lh-sm">
                        To book a service please use the form provided below and we will confirm the details of your booking.
                    </p>
                    <p class="fs-3 lh-sm">
                        If you are unsure of which service you would like to purchase, please refer to the explanation of services provided <a class="text-dark fw-bold" href="/glossary.html">here</a>.
                    </p>
                    <div id="booking_component"></div>
                    {% include _booking/booking.html %}
                    {{ content }}
                    {% include footer-booking.html %}
                </div>
                
            </div>
        </div>
        <script></script>
    </body>
</html>

