{% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}

        <div class="wrapper">
            <div class="message">
                
                <h1 class="display-3 text-light">Booking</h1>
              
                <div class="page-content card rounded-0 p-4">
                    <p class="fs-3 lh-sm">
                        To book a service please the form provided below and we will confirm the details of your booking.
                    </p>
                    <p class="fs-3 lh-sm">
                        If you are unsure of which service you would like please refer to the explanation of services provided <a href="/faq.html">here</a>.
                    </p>
                    <div id="booking_component"></div>
                    {% include _booking/booking.html %}
                    {{ content }}
                    {% include footer-booking.html %}
                </div>
                
            </div>
        </div>
        <script></script>
    </body>
</html>

