{% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}

        <div class="wrapper">
            <div class="message">
                
                <h1 class="display-3 text-light">FAQ</h1>
                

              
                <div class="page-content card rounded-0 p-4" >
                    <p class="fs-3 lh-sm">
                        The {{ site.name }} glossary a compilation of terms and phrases specific to the world of {{ site.name }}'s BDSM (Bondage, Discipline, Dominance, Submission, Sadism, and Masochism) and professional dominatrix services. It provides definitions and explanations for terms commonly used for her services offered. While the following glossary includes some common terms, please note that the BDSM community is diverse, and individual practitioners may have their own unique terminology and preferences.
                    </p>

                    <div id="faq_component"></div>
                    {% include _faq/faq.html %}
                    {{ content }}
                </div>
                {% include footer.html %}
                
            </div>
        </div>
        <script src="{% include mainurl.html %}/js/faq.js" async defer></script>
        
    </body>
</html>
