{% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}

        <div class="container pt-5" id="index-body">
            <div class="row pt-4 pb-4">
                <div class="col-12">
                    <div class="pt-5 mb-5">
                        <h1 class="display-3 text-light">{{ site.name }}</h1>
                        <figure>
                            <figcaption class="blockquote-footer text-light">
                                {{ site.title }}
                            </figcaption>
                            <blockquote class="blockquote">
                                <p class="col-6 fs-5 fw-lighter lh-1 fst-italic text-light">
                                    {{ site.strap }}
                                </p>
                            </blockquote>
                        </figure>
                        <div class="page-content">


<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect2">Services (multiple select)</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
<option value=`"{{ site.services[0] }}"` >{{ site.services[0] }}</option>
<option value=`"{{ site.services[1] }}"`>{{ site.services[1] }}</option>
<option value=`"{{ site.services[2] }}"`>{{ site.services[2] }}</option>
<option value=`"{{ site.services[3] }}"`>{{ site.services[3] }}</option>
<option value=`"{{ site.services[4] }}"`>{{ site.services[4] }}</option>
<option value=`"{{ site.services[5] }}"`>{{ site.services[5] }}</option>
<option value=`"{{ site.services[6] }}"`>{{ site.services[6] }}</option>
<option value=`"{{ site.services[7] }}"`>{{ site.services[7] }}</option>
<option value=`"{{ site.services[8] }}"`>{{ site.services[8] }}</option>
<option value=`"{{ site.services[9] }}"`>{{ site.services[9] }}</option>
<option value=`"{{ site.services[10] }}"`>{{ site.services[10] }}</option>
<option value=`"{{ site.services[11] }}"`>{{ site.services[11] }}</option>
<option value=`"{{ site.services[12] }}"`>{{ site.services[12] }}</option>
<option value=`"{{ site.services[13] }}"`>{{ site.services[13] }}</option>
<option value=`"{{ site.services[14] }}"`>{{ site.services[14] }}</option>
<option value=`"{{ site.services[15] }}"`>{{ site.services[15] }}</option>
<option value=`"{{ site.services[16] }}"`>{{ site.services[16] }}</option>
    </select>
  </div>
</form>

                            {{ content }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>