{% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}

        <div class="wrapper">
            <div class="message">
                
                <h1 class="display-3 text-light">{{ site.name }}<small class="fs-6 text-light" style="white-space: pre-line;">{{ site.title }}</small></h1>
                <figure>
                    <blockquote class="blockquote">
                        <p class="col-6 fs-5 fw-lighter lh-1 fst-italic text-light">
                            {{ site.strap }}
                        </p>
                    </blockquote>
                </figure>
              
                <div class="page-content card p-4">
                    
                    <section>
                        <div class="row d-flex justify-content-center mt-100">

                            <form class="col-md-6">

                                <div class="form-group pb-4">
                                    <label for="enterFirstName">First name</label>
                                    <input type="text" class="form-control form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="enterFirstName" placeholder="John">
                                </div>

                                <div class="form-group pb-4">
                                    <label for="enterSurname">Surname</label>
                                    <input type="text" class="form-control form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="enterSurname" placeholder="Smythe">
                                </div>   

                                <div class="form-group pb-4">
                                    <label for="enterEmail">Email address</label>
                                    <input type="email" class="form-control form-control form-control-lg rounded-0 focus-ring focus-ring-light" id="enterEmail" placeholder="name@example.com">
                                </div>                            
                            
                                <div class="form-group pb-4"> 
                                    <label for="choices-multiple-remove-button">Select a service(s)</label>
                                    <select id="choices-multiple-remove-button" placeholder="Select a service(s)" multiple>
                                        <option value='{{ site.hour_rate }}' onclick="filterSelection('{{ site.services[0] }}')">{{ site.services[0] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[1] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[2] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[3] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[4] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[5] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[6] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[7] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[8] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[9] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[10] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[11] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[12] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.findom_price }}'>{{ site.services[13] }} @ £{{ site.findom_price }}</option>
                                        <option value='{{ site.debt_contract_price }}'>{{ site.services[14] }} @ £{{ site.debt_contract_price }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[15] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[16] }} @ £{{ site.hour_rate }}</option>
                                        <option value='{{ site.hour_rate }}'>{{ site.services[17] }} @ £{{ site.hour_rate }}</option>
                                    </select>
                                </div>

                            </form>
                        
                        </div>
                    </section>
                    
                    {{ content }}
                
                </div>
                
                {% include footer.html %}
            
            </div>
        
        </div>
    
    </body>
</html>